.board-users {
  display: flex;
  width: 30%;
  align-items: center;
}

.board-title {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  padding-right: 10px;
  width: 150px;
  color: #000;
  font-weight: normal;
}
