.add-board-btn {
  border: none;
  background: #2f80ed;
  height: 35px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.add-board-input {
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 0.95rem;
}

.create-board-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background: #5aac44;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.create-board-btn:hover {
  background: #3a8a24;
}
