.searchbar {
  max-width: 60%;
  display: flex;
  margin: 5px;
}

.search-input {
  color: white;
  max-width: 40%;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: grey;
  padding: 10px;
  font-size: 15px;
  outline: none;
  /* Shrinking back after focus smoothly */
  transition-property: max-width;
  transition-duration: 0.5s;
}

.search-input:focus {
  max-width: 60%;
  transition: 0.7s;
}

.search-btn {
  width: 20%;
  background: #2f80ed;
  padding: 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .search-btn {
    min-width: 20px;
  }
  .searchbar {
    width: 50%;
  }
  .search-input {
    width: 30px;
    flex: 2;
    font-size: 10px;
  }
  .search-input:focus {
  }
}
