.columns {
  display: flex;
  align-items: flex-start; /*Each column adjusts in size according to content */
  overflow-x: scroll;
  min-height: 80vh;
}

@media screen and (max-width: 635px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
}
