.user-page {
  padding: 5px;
  margin: 10px 10vw;
}

.user-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .user-page {
    margin: 10px;
  }
  .boards-list {
    flex-direction: column;
    align-items: center;
  }
}
