.user-page {
  padding: 5px;
  margin: 10px 100px;
}

.user-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boards-list {
  display: flex;
}

@media screen and (max-width: 500px) {
  .user-page {
    margin: 20px;
  }
}
