.searchbar {
	width: 80%;
	display: flex;
	margin: 10px;
	color: white;
}

.search-input {
	color: silver;
	width: 40%;
	border: none;
	padding: 10px;
	font-size: 15px;
	outline: none;
	background: #6573c3;
	opacity: 0.8;
	/* Shrinking back after focus smoothly */
	transition-property: width;
	transition-duration: 0.5s;
}

.search-input:focus {
	width: 80%;
	transition: 0.7s;
}

.search-btn {
	width: 20%;
	background: #6573c3;
	padding: 5px;
	border: none;
	font-size: 15px;
	color: white;
	opacity: 0.8;
}

.search-btn span {
	color: white;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}
