.app-bar {
	background: #2196f3;
	max-height: 60px;
	min-height: 60px;
}

.header {
	display: flex;
	min-height: 60px;
	max-height: 60px;
	justify-content: space-between;
}

.title-container {
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.main-title {
	text-decoration: none;
	font-weight: normal;
}

.board-title {
	width: 30%;
	margin: 10px;
	font-weight: normal;
	font-style: italic;
}

.ghost-title {
	width: 30%;
}

.nav {
	display: flex;
	width: 45%;
	justify-content: space-between;
	align-items: center;
}
