.header {
	display: flex;
	height: 10%;
	justify-content: space-between;
	border-bottom: 1px solid grey;
}

.title-container {
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}

.board-title {
	width: 30%;
	margin: 10px;
}

.ghost-title {
	width: 30%;
}

.nav {
	display: flex;
	width: 45%;
	justify-content: space-between;
	align-items: center;
}


