.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-users {
  display: flex;
  width: 30%;
  align-items: center;
}

.board-title {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  padding-right: 10px;
  width: 150px;
  color: #000;
  font-weight: normal;
}

.delete-board {
  min-width: 150px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: none;
  font-size: 15px;
  font-weight: 700;
  background: none;
}

.delete-board:hover {
  cursor: pointer;
  background: whitesmoke;
}

@media screen and (max-width: 500px) {
  .board-header {
    flex-wrap: wrap;
  }
  .board-title {
    font-size: 0.9rem;
    width: 100px;
  }
  .delete-board {
    font-size: 0.9rem;
  }
}
