.column {
	margin: 10px;
	width: 272px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f6f6f6;
	max-height: 100%;
	padding: 5px;
}

.column-title {
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
}

.add-card {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	opacity: 0.5;
	font-size: 15px;
	margin-top: 10px;
}

.add-card:hover {
	background: gainsboro;
	opacity: 1;
}

.add-card-text {
	margin: 5px;
}
