.column {
	margin: 20px;
	width: 272px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	background: #f5f5f5;
	padding: 5px;
	height: auto;
}

.column-title-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 0;
}

.menu-icon {
	padding: 8px;
	margin-top: 0;
}

.menu-icon:hover {
	background: gainsboro;
	cursor: pointer;
	fill: black;
}
