.user-header {
  margin: 10px;
  max-width: 30%;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .user-header {
    justify-content: flex-start;
  }
}
