.column-title-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0;
}

.menu-icon {
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 10px 0;
  color: black;
}

.menu-icon:hover {
  background: gainsboro;
  cursor: pointer;
}
