.user-header {
	margin: 10px;
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.avatar {
	cursor: pointer;
}

.avatar-skeleton {
	width: 40px;
	height: 40px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	background: #e8e8e8;
}

.avatar-skeleton::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 40px;
	height: 100%;
	background: linear-gradient(
		to right,
		transparent 0%,
		silver 50%,
		transparent 100%
	);
	animation: load 0.7s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
	from {
		left: -40px;
	}
	to {
		left: 100%;
	}
}
