.App {
  height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block; /* Fixes Link component taking whole width of User page*/
}

ul {
  list-style-type: none;
  margin: none;
  padding: none;
}

li {
  text-decoration: none;
}
