.card-thumbnail {
	width: 100%;
	border-radius: 3px;
	text-align: left;
	background: #fff;
	margin: 5px;
	padding: 2px;
	cursor: pointer;
	border-bottom: silver 1px solid;
}

.card-thumbnail-content {
	margin: 5px;
	font-size: 15px;
}
